{% extends "todo/base.html" %}
{% load static %}
{% block content %}
    <div id="list-container">
        <div id="weekly_title">
            Weekly To-Do
        </div>
        {% if list %}
        {% for ActionItem in list %}
        <div class="action-item-container">
            {% if ActionItem.completed %}
            <div class="completeness-image-container">
                <img class="completeness_icon" src="{% static 'todo/completed.png' %}" alt="Completed"/>
            </div>
            <div class="action-item-text">
                <del>{{ ActionItem.text }}</del>
            </div>
            <div class="delete_button" onclick="location.href='{% url "delete-action-item" ActionItem.id %}'">
                <img class="delete_icon" src="{% static 'todo/delete.png' %}" alt="Delete"/>
            </div>
            <div class="transition_button_container">
                <div class="transition_button" onclick="location.href='{% url "swap-status" ActionItem.id %}'">UNDO</div>
            </div>
            {% else %}
            <div class="completeness-image-container">
                <img class="completeness_icon" src="{% static 'todo/incomplete.png' %}" alt="Incomplete"/>
            </div>
            <div class="action-item-text">
                {{ ActionItem.text }}
            </div>
            <div class="delete_button" onclick="location.href='{% url "delete-action-item" ActionItem.id %}'">
                <img class="delete_icon" src="{% static 'todo/delete.png' %}" alt="Delete" />
            </div>
            <div class="transition_button_container">
                <div class="transition_button" onclick="location.href='{% url "swap-status" ActionItem.id %}'">DO</div>
            </div>
        {% endif %}
        </div>
        {% empty %}
        {% endfor %}
        {% endif %}
        <div class="empty-action-item-container">
            <form id="new-action-item-form" action="/add-action-item" method="POST">
                <input class="action-item-input" type="text" name="action-item-text" value="New Action Item">
                <div class="generic_button_container">
                    <input type="submit" class="add_button" value="ADD">
                </div>
            </form>
        </div>
    </div>
{% endblock %}