* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
}

.list-container {
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    padding-bottom: 10px;
    float: left;
    margin-right: 10px;
}

.list_title {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 200%;
}

.task-container, .empty-task-container {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    width: 375px;
    overflow: auto;
}

.empty-task-container {
    padding-left: 37px;
}

.completeness-image-container {
    float: left;
    margin-right: 10px;
}

.completeness_icon {
    margin-top: 1px;
    width: auto;
    height: 17px;
}

input {
  all: unset;
}

.task-input, .task-text {
    height: 16px;
    margin-bottom: 1px;
    width: 265px;
    float: left;
    border-bottom: 1px solid black;
}

.transition_button, .add_button {
    margin-top: 2px;
    border: 1px solid black;
    background: cyan;
    width: 50px;
    height: 16px;
    float: right;
    border-radius: 3px;
    text-align: center;
    font-size: 90%;
}

.add_button {
    float: left;
    margin-left: 8px;
    background: lightgreen;
}

.delete_button {
    float: right;
}

.delete_icon {
    margin-top: 2px;
    margin-left: 5px;
    height: 18px;
    width: auto;
}
