* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
}

/*
Login
 */

#login-body {
    width: 100%;
    text-align: center;
}

.blue {
    color: blue;
}

#login-container {
    border: 1px solid black;
    width: 310px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

#login-container input {
    border-bottom: 1px solid black;
    margin: 10px;
    text-align: left;
}

#login-container button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px 5px 3px 5px;
}

.form-message {
    width: 80%;
    margin: 7px auto;
    font-size: 90%;
    padding: 2px 3px;
    line-height: 15px;
}

/*
User Registration
 */

#register-body {
    width: 100%;
    text-align: center;
}

#register-container {
    border: 1px solid black;
    width: 400px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

#register-container label {
    position: absolute;
}

#register-container input[type=text],
#register-container input[type=password],
#register-container input[type=email]
{
    margin-top: 20px;
}

#register-container h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 180%;
}


#register-container input {
    border: 1px solid black;
    text-align: left;
    padding: 2px 5px 2px 5px;
}

#register-container button {
    margin: 10px auto 20px auto;
    padding: 3px 5px 3px 5px;
}

/*
ToDo List
 */

.list-container {
    border: 1px solid black;
    width: 400px;
    padding-bottom: 10px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.list_title {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 200%;
}

.task-container, .empty-task-container {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    width: 375px;
    overflow: auto;
}

.empty-task-container {
    padding-left: 37px;
}

.completeness-image-container {
    float: left;
    margin-right: 10px;
}

.completeness_icon {
    margin-top: 1px;
    width: auto;
    height: 17px;
}

input {
  all: unset;
}

.task-input, .task-text {
    height: 16px;
    margin-bottom: 1px;
    width: 265px;
    float: left;
    border-bottom: 1px solid black;
}

.transition_button, .add_button {
    margin-top: 2px;
    border: 1px solid black;
    background: cyan;
    width: 50px;
    height: 16px;
    float: right;
    border-radius: 3px;
    text-align: center;
    font-size: 90%;
}

.add_button {
    float: left;
    margin-left: 8px;
    background: lightgreen;
}

.delete_button {
    float: right;
}

.delete_icon {
    margin-top: 2px;
    margin-left: 5px;
    height: 18px;
    width: auto;
}
